body, container {
}

#nav-container {
	background-color: none;
	background: url(../images/background/background_1800_short.jpg) center bottom no-repeat;
    background-size: 100% auto;
	min-height:10%;
	padding-top: 4%;
	padding-bottom: 1%;
	position: relative;
}
#no-wrap {
/* 	white-space: nowrap; */
/* 	overflow: hidden; */
}
.fadeover {
	display: inline;
	opacity: 1;
	transition: opacity .20s ease-in-out;
	-moz-transition: opacity .20s ease-in-out;
	-webkit-transition: opacity .20s ease-in-out;
}
.fadeover:hover {
	opacity: 0.4;
}
.nav > li > a:hover, .nav > li > a:focus {
	text-decoration: none;
	background-color: inherit;
}

.navbar-nav {
	position: relative;
}
a.navbar-brand img {
    max-width:100%;	
}
.navbar-nav > li > a {
/* 	line-height: 76px; */
}
.nav > li > a {
	padding: 10px 5px;
}
#pointer {
	position:absolute;
	bottom: -15px;
}
div.navbar {

}
