#nav-container {
	background: none;
	background: url(../images/background/background_1800_short.jpg) no-repeat;
	background-position: center center;
	min-height:10%;
	padding-top: 4%;
	padding-bottom: 1%;
	position: relative;
}
#no-wrap {
/* 	white-space: nowrap; */
/* 	overflow: hidden; */
}
.fadeover {
	/*display: inline;*/
	opacity: 1;
	transition: opacity .20s ease-in-out;
	-moz-transition: opacity .20s ease-in-out;
	-webkit-transition: opacity .20s ease-in-out;
}
.fadeover:hover {
	opacity: 0.4;
}
.nav > li > a:hover, .nav > li > a:focus {
	text-decoration: none;
	background-color: inherit;
}
a.navbar-brand img {
    max-width:100%;
}
.navbar-nav > li > a {
/* 	line-height: 76px; */
}
.nav > li > a {
	padding: 10px 5px;
}
#pointer {
	position:absolute;
	bottom: -50px;
    left:50%;
    margin-left: -15px;
}
#social {
	margin-top: 3%;
}
#social img {
	display: inline;
    height: auto;
    width: auto\9; /* ie8 */
}
#social img {
	padding: 0;
	margin: 0;
}
#copyright {
	margin-bottom: 5%;
	font-size: 10px;
}
button.navbar-toggle.collapsed {
	z-index: 1000;
}
.navbar-collapse.in, .navbar-collapse.collapsing {
	overflow-y: inherit;
}
div#nav-container > div.navbar.navbar-inverse {
	background-color: inherit;
	border: none;
}
.navbar-inverse .navbar-toggle {
	background-color: #222;	
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border: none;
}
.navbar-collapse.collapsing img {
/* 	display: none; */
}