html {
	height:100%;
	width:100%;
}
body {
	width:100%;
	height: 100%;
	padding-top: 0;
}
#patients_referrers {
	background:	url(/assets/images/background/background_2000.jpg) no-repeat;
	background-position: center center;
    background-size: 100% auto;
	text-align: center;
	margin: 0;
	vertical-align: bottom;
	padding: 25% 0 1% 0;
	white-space: nowrap;
	position:relative;
}
#logo {
    max-width:18%;
	margin-bottom: 3%;
}
#patients_referrers img {
    height: auto;
    width: auto\9; /* ie8 */
}
#vertical_line {
	display: inline;
	margin:0 3%;
    min-width:1px;
    max-height: 15%;
}
#glyphicon {
	display:block;
	margin: 0 auto;
	z-index: 1001;
}
a {
	color: none;
	text-decoration: none;
}
a:hover {
	color: none;
	text-decoration: none;
}
#social {
	margin-top: 2%;
}
#social img {
	display: inline;
    max-width:16%;
    height: auto;
    width: auto\9; /* ie8 */
}
#social img {
	padding: 0;
	margin: 0;
}
#copyright {
	margin-top: 5%;
	font-size: 10px;
}
#referrer_button {
/*
	background:url(../images/buttons/referrer_portal.png) no-repeat 0 0;
    display: inline-block;
    width:265px;
    height:77px;
*/
}
#right {
	position:absolute;
    left:50%;
    top:66%;
    bottom:3%;
    border-left:1px solid white;
}
#referrer_button {
	margin: 4% 3% 6% 0;
}
#patient_button {
	margin: 4% 0 6% 3%;
}
#referrer_button:hover {
/*     background:url(../images/buttons/referrer_portal_roll.png) no-repeat 0 0; */
}
#patient_button, #referrer_button {
/*
	background:url(../images/buttons/patient_portal.png) no-repeat 0 0;
    display: inline-block;
    width:265px;
    height:77px;
*/
    max-width:25%;

	display: inline;
	opacity: 1;
	transition: opacity .20s ease-in-out;
	-moz-transition: opacity .20s ease-in-out;
	-webkit-transition: opacity .20s ease-in-out;
}

#patient_button:hover, #referrer_button:hover {
/*     background:url(../images/buttons/patient_portal_roll.png) no-repeat 0 0; */
	opacity: 0.4;
}
.row {
	margin: 0;
}


