html {
    /*height:100%;*/
    /*width:100%;*/
}
body {
    /*width:100%;*/
    /*height: 100%;*/
    padding-top: 0;
    background-color: #222;
}
#patients_referrers {
    text-align: center;
    margin: 0;
    vertical-align: bottom;
    padding: 23% 0 1% 0;
    white-space: nowrap;
    position:relative;
}
#logo {
    max-width:18%;
    margin-bottom: 5%;
}
#patients_referrers img {
    height: auto;
    width: auto\9; /* ie8 */
}
#glyphicon {
    display:block;
    margin: 0 auto;
    z-index: 1001;
}
a {
    color: none;
    text-decoration: none;
}
a:hover {
    color: none;
    text-decoration: none;
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
#social {
    padding-top: 3%;
    padding-left: 5%;
}
#social img {
    display: inline;
    height: auto;
    width: auto\9; /* ie8 */
}
#social img {
    padding: 0;
    margin: 0;
}
#social-placeholder {
    width: 268px;
    height: 45px;
}
#copyright {
    color: #ffffff;
    margin-bottom: 5%;
    font-size: 10px;
    padding-right: 5%;
}
#right {
    position:absolute;
    left:50%;
    top:61%;
    bottom:0;
    border-left:1px solid white;
}
#referrer_button {
    margin: 4% 3% 6% 0;
}
#patient_button {
    margin: 4% 0 6% 3%;
}
#patient_button, #referrer_button {
    max-width:30%;
    display: inline;
}

.row {
    margin: 0;
}
.fadeover {
    display: inline;
    opacity: 1;
    transition: opacity .20s ease-in-out;
    -moz-transition: opacity .20s ease-in-out;
    -webkit-transition: opacity .20s ease-in-out;
}
.fadeover:hover {
    opacity: 0.4;
}
.drop-shadow {
    -moz-box-shadow:    3px 3px 5px 6px #222;
    -webkit-box-shadow: 3px 3px 5px 6px #222;
    box-shadow:         3px 3px 5px 6px #222;
}
.background-color {
    background: #222;
}
.shadowed {
    -webkit-filter: drop-shadow(8px 8px 7px #222);
    filter: url(shadow.svg#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12,
    Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}
.vegas-loading {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

