html {
	height:100%;
	width:100%;
}
body {
	width:100%;
	height: 100%;
	padding-top: 0;
}
#centering_container {
	max-width:1600px;
	margin:0 auto;
	position: relative;
}
#background-image {
	max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}
#logo {
	margin: 0 auto 30px auto;
	display: block;
}
#portal_buttons {
	display:block;
	margin: 0 auto;
}
#patients_referrers {
/*
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
*/
   max-width: 599px;
   height: 321px;
   position: absolute;
   left: 50%;
   top: 57%;
   margin-left: -300px;
   margin-top: -160px;
}
#glyphicon {
	display:block;
	margin: -25px auto 0 auto;
	z-index: 1001;
}
a {
	color: none;
	text-decoration: none;
}
a:hover {
	color: none;
	text-decoration: none;
}
#footer {
   	padding: 30px 60px 45px 4em;
	width: 100%;
	background-color: white;
	overflow: hidden;
	white-space: nowrap;
}
#social {
	margin-top: 2%;
}
#social img {
	display: inline;
    max-width:16%;
    height: auto;
    width: auto\9; /* ie8 */
    overflow:hidden;
}
#footer img, #footer a {
	padding: 0;
	margin: 0;
}
#copyright {
	padding: 5% 0 0 0;
	text-align: right;
	font-size: 10px;
}

#vertical_line {
	margin:0 30px 55px 30px;
}

#referrer_button {
	background:url(../images/buttons/referrer_portal.png) no-repeat 0 0;
    display: inline-block;
    width:265px;
    height:77px;
}

#referrer_button:hover {
    background:url(../images/buttons/referrer_portal_roll.png) no-repeat 0 0;
}

#patient_button {
	background:url(../images/buttons/patient_portal.png) no-repeat 0 0;
    display: inline-block;
    width:265px;
    height:77px;
/*
	opacity: 1;
	transition: opacity .30s ease-in-out;
	-moz-transition: opacity .30s ease-in-out;
	-webkit-transition: opacity .30s ease-in-out;
*/
}

#patient_button:hover {
    background:url(../images/buttons/patient_portal_roll.png) no-repeat 0 0;
/* 	opacity: 0.4; */
}

#patient_button_2 {
	position:absolute;
	margin-bottom: 30px;
	opacity: 1;
	transition: opacity .30s ease-in-out;
	-moz-transition: opacity .30s ease-in-out;
	-webkit-transition: opacity .30s ease-in-out;
}

#patient_button_2:hover {
	opacity: 0.4;
}



