/* For styles that don't work in a .less file
*/

.shadowed {
    -webkit-filter: drop-shadow(8px 8px 7px #222);
    filter: url(shadow.svg#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12,
    Color='#444')";
filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}