@import 'base.less'; 

@media (max-width: @screen-xs-max){
	#copyright, #social {
		text-align: center;
	}
	#patients_referrers {
		background-position: center top;
	}
	#social img {
    	max-width:12%;
    }
}
@media (min-width: @screen-xs-max) {
	#copyright {
		text-align: right;
	}
	#social img {
    	max-width:16%;
    }
}

// @media(min-width: @screen-tablet){}     /* or @screen-sm */

// @media(min-width: @screen-desktop){}    /* or @screen-md */

// @media(min-width: @screen-lg-desktop){} /* or @screen-lg */
