@import 'base.less'; 
//styles specific for the frontend 
// ... 
.pos-relative {
	position:relative;
}
.pos-fixed {
	position: fixed;
}
#stellar-jumbotron {
	position: fixed;	
}

.stellar {
	position: fixed;	
}
.jumbotron {
	margin-top: 20px; 
}

#background-image {
	z-index: -1000;
}

#about-us-panel {
	background-color: white;
	padding: 15px;
}

#about-us-container {
	position:relative;
	top: 1230px;
	width: 100%;
}

#hello {
	position:relative;
	width: 100%;
}

#glyphicon {
	position:relative;
	text-align: center;
	color: white;
	padding: 10px 0 20px 0;
}

.glyphicon {
	font-size: 36px;
}