@import 'base.less'; 
//styles specific for the frontend 
// ... 
.pos-relative {
	position:relative;
}
.pos-fixed {
	position: fixed;
}
#stellar-jumbotron {
	position: fixed;	
}

.stellar {
	position: fixed;	
}
.jumbotron {
	margin-top: 20px; 
}
