@import 'base.less';

/* Small screens */
@media (max-width: @screen-xs-max){
    div#addressFinder input {
        margin-bottom: 3px;
    }
    input.btn {
        width: 100%;
    }
    select#locationSelect {

    }
    select#modalitySelect {

    }
    select#radiusSelect {

    }
    #addressInput {
        width: 100%;
        margin-bottom: 3px;
    }
    select {
        width:100%;
        margin-bottom: 3px;
    }
    div#addressFinder {
//        text-align: center;
    }
}

/* Static */
html {
//	margin:0;
	padding:0;
	height:100%;
}
body {
/* 	margin: 10px; */
	height:100%;
}
div#map_canvas {
	width:100%;
	height:80%;
	margin-top:5px;
}
div.container {
	height:100%;
}
div#info_container {
    position: relative;;
}
div#info {
	overflow:hidden;
	text-align:center;
	top:0;
//	left:0;
	font-size: small;
//	margin-top: 3%;
//    z-index: 500;
}
div#info_msg {
	position:relative;
	margin:0 auto;
	top:50%
}
.lightbox {
	filter:alpha(opacity=60);
	-moz-opacity:0.6;
	-khtml-opacity: 0.6;
	opacity: 0.6;
	background-color:white;
	padding:2px;
}
div#addressFinder {
	margin-top: 20px;
}
select#locationSelect {
	visibility: hidden;
}
select#modalitySelect {
	visibility: hidden;
}
h4#filterResults {
    visibility: hidden;
}