.navbar-nav {
  > li > a {
    font-size: @font-size-large;
    font-weight: normal;
    font-family: 'intro_condlight_free', "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  > li > ul > li > a {
    font-family: 'intro_condlight_free', "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}
#nav-container > div > div.container > div.navbar-collapse.collapse > ul > li.dropdown.open > ul > li.fadeover > a {
  font-family: 'intro_condlight_free', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

//@font-family-sans-serif: "Helvetica Light", Helvetica, Arial, sans-serif;

@font-size-larger: ceil((@font-size-base * 1.5)); // ~18px

@navbar-inverse-bg: #008ABD;

@capital-light-blue: #008ABD;
@capital-grey: #3C3D3F;
@capital-white: #000000;

@brand-primary: @capital-grey;
@link-hover-color: @capital-light-blue;
//@link-hover-color: lighten(@link-color, 15%);

// navbar
@navbar-inverse-link-color:  #fff;
@navbar-padding-vertical: 10px;

@shadow-box-h-distance: 1px;
@shadow-box-v-distance: 1px;
@shadow-box-colour: @capital-grey;
@shadow-box-blur-distance: 3px;
@shadow-box-spread-distance: 0px;

@shadow-text-h-distance: 1px;
@shadow-text-v-distance: 1px;
@shadow-text-blur-distance: 5px;
@shadow-text-colour: #000;

